.vscode/
.DS_Store
*.pyc
__pycache__
.pytest_cache
.venv
runs/
data/
datasets/
checkpoints/gill_opt/cc3m_embeddings_urls.npy
datasets/
sin_100.wav
rough_work.ipynb
outputs/
runs/
eval_audiocaps.ipynb
encoders-retrieval-scripts/results.csv
encoders-retrieval-scripts/intermediate_result.json
reasoning/
630k-audioset-best.ptgkvmoh40.tmp
630k-audioset-best.ptrd4zjlh7.tmp